html {
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    margin: 0px;
    padding: 0px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: url("./img/Quote\ Generator\ Background.jpg") no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    width: 600px;
    height: 500px;
}

.header {
    background: #262626;
    color: #fff;
    font-size: 1.4rem;
    border: 2px solid #fff;
    border-radius: 6px;
    padding: 7px;
    width: 60%;
    margin: 20px auto;
}

.main-content {
    background: rgba(255, 255, 255, 90%);
    margin-top: 20px;
    border-radius: 15px;
    padding: 30px 15px;
}

.text-area {
    padding: 15px;
    font-size: 1.5rem;
   
    line-height: 2;
}
.person {
    font-size: 1.8rem;
    padding-bottom: 20px;
    color: #b22222;
}

.new-quote-btn {
    color: #fff;
    background: #262626;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
}